<% content_for :level_one do %>
  <%= link_to "จัดการงานเขียน", writings_path %>
<% end %>
<%= form_with(model: writing, class: "needs-validation", data: { turbo: false }) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% if writing.errors.any? %>
    <div class="alert alert-danger">
      <h5 class="alert-heading">
        <%= pluralize(writing.errors.count, "error") %> prevented saving:
      </h5>
      <ul class="mb-0">
        <% writing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :cover, class: "form-label" %>
    <%= form.file_field :cover, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, rows: 5, class: "form-control" %>
  </div>
  <div class="text-end">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
