<% content_for :level_one do %>
  <%= link_to "จัดการงานเขียน", writings_path %>
<% end %>
<% content_for :level_two do %>
  <%= @writing.title %>
<% end %>
<div class="container d-flex flex-column align-items-center">
  <div class="text-center mb-4">
    <% if @writing.cover.attached? %>
      <%= image_tag @writing.cover,
        class: "img-fluid rounded mb-4",
        style: "max-height:350px; object-fit:cover;" %>
    <% end %>
    <h1 class="fw-bold"><%= @writing.title %></h1>
  </div>
  <div class="mx-auto" style="max-width:700px;">
    <div class="novel-text">
      <%= simple_format(@writing.content) %>
    </div>
  </div>
  <div class="manage-chapter w-100">
    <div class="chapter-page-title text-center">
      <h2>จัดการตอน</h2>
      <div class="col-auto d-flex justify-content-end">
        <%= link_to "เพิ่มตอน",
            new_writing_chapter_path(@writing),
            class: "btn btn-primary d-inline-block"
        %>
      </div>
    </div>
    <div class="modal fade" id="chapterModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Chapter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <turbo-frame id="chapter_modal">
            <div class="p-4 text-center text-muted">
              <%= render "chapters/form", chapter: Chapter.new, writing: @writing %>
            </div>
          </turbo-frame>
        </div>
      </div>
    </div>
    <div class="col-12">
      <% @writing.chapters.order(created_at: :asc).each_with_index do |chapter, index| %>
        <div class="card shadow-sm p-2 m-1 d-flex flex-row align-items-center">
          <div class="col-2">ตอน <%= index+1 %></div>
          <div class="col-8"><%= chapter.title %></div>
          <div class="col-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                <li>
                  <%= link_to "Edit", edit_writing_chapter_path(chapter.writing, chapter), class: "dropdown-item" %>
                  <a class="dropdown-item" href="#">Edit</a>
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
                <li><a class="dropdown-item" href="#">View</a></li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
