<% content_for :level_one do %>
  <%= render "shared/level_one_nav" %>
<% end %>
<% content_for :level_two do %>
  <%= @writing.title %>
<% end %>
<div class="container d-flex flex-column align-items-center">
  <div class="text-center mb-5">
    <% if @writing.cover.attached? %>
      <%= image_tag @writing.cover,
      class: "img-fluid rounded shadow-sm mb-4",
      style: "max-height:420px; object-fit:cover; width:100%;" %>
    <% end %>
    <h1 class="fw-bold display-5" style="font-family: 'Georgia', serif;">
      <%= @writing.title %>
    </h1>
  </div>
  <div class="mx-auto px-3 px-md-0" style="max-width:750px;">
    <div class="p-4 p-md-5 bg-light rounded shadow-sm"
       style="font-family: 'Georgia', serif; font-size:1.15rem; line-height:1.9;">
      <%= simple_format(@writing.content) %>
    </div>
  </div>
  <div class="manage-chapter w-100 mt-2">
    <hr>
    <% if params[:mode].blank? %>
      <div class="chapter-page-title text-center">
        <h4>จัดการตอน</h4>
        <div class="col-auto d-flex justify-content-end">
          <%= link_to "เพิ่มตอน",
            new_writing_chapter_path(@writing),
            class: "btn btn-primary d-inline-block"
        %>
        </div>
      </div>
    <% end %>
    <div class="col-12 mb-5">
      <% @writing.chapters.order(created_at: :asc).each_with_index do |chapter, index| %>
        <div id="<%= dom_id chapter %>" class="card shadow-sm p-2 m-1 d-flex flex-row align-items-center">
          <div class="col-1">ตอน <%= index+1 %></div>
          <div class="col-8">
            <%= link_to chapter.title, writing_chapter_path(chapter.writing, chapter) %>
          </div>
          <% if params[:mode].blank? %>
            <div class="col-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="actionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                  <li>
                    <%= link_to "Edit", edit_writing_chapter_path(chapter.writing, chapter), class: "dropdown-item" %>
                  </li>
                  <li>
                    <%= link_to "View", writing_chapter_path(chapter.writing, chapter), class: "dropdown-item" %>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <%= link_to "Delete",
                    writing_chapter_path(chapter.writing, chapter),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "dropdown-item text-danger" %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
