<div class="container my-5">
  <div class="text-center mb-4">
    <% if @writing.cover.attached? %>
      <%= image_tag @writing.cover,
        class: "img-fluid rounded mb-4",
        style: "max-height:350px; object-fit:cover;" %>
    <% end %>
    <h1 class="fw-bold"><%= @writing.title %></h1>
  </div>
  <div class="mx-auto" style="max-width:700px;">
    <div class="novel-text">
      <%= simple_format(@writing.content) %>
    </div>
  </div>
</div>
<div class="manage-chapter">
  <div class="chapter-page-title">
    <h2>จัดการตอน</h2>
  </div>
  <%= link_to "Add Chapter",
            new_writing_chapter_path(@writing),
            data: {
              turbo_frame: "chapter_modal"
            },
            class: "btn btn-primary",
            "data-bs-toggle": "modal",
            "data-bs-target": "#chapterModal"
  %>
  <div class="modal fade" id="chapterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Chapter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <turbo-frame id="chapter_modal">
          <div class="p-4 text-center text-muted">
            <%= render "chapters/form", chapter: Chapter.new, writing: @writing %>
          </div>
        </turbo-frame>
      </div>
    </div>
  </div>
  <% @writing.chapters.each do |chapter| %>
    <div> <%= chapter.title %> </div>
  <% end %>
</div>
