<div id="<%= dom_id chapter %>">
  <p>
    <strong>Title:</strong>
    <%= chapter.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= chapter.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= chapter.content %>
  </p>

  <p>
    <strong>Writing:</strong>
    <%= chapter.writing_id %>
  </p>

</div>
